*{
    margin: 0;
    padding: 0;
}

body{
    background-color: tomato;
}

main article{
    background-color: green;
}

main aside{
    background-color: blue;
}

p{
    color: black;
    background-color: lime;
}